@import "reset";
@import "colors";
@import "fonts";

.adminPanel {
  width: 1200px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-group {
    display: contents;
  }

  input, textarea{
    font-size: 16px;
    font-family: $text;
    width: 60%;
    min-height: 100px;
    margin: 10px 0;
    line-height: 1.6;
    border: 2px solid $outlineColor;
    border-radius: 10px;
  }

  button {
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
}

.adminPanel button:hover {
  background-color: $bg_color;
  color: green;
  font-weight: bold;
}